
.quienes_somos{
        position: absolute; /* Para posicionarlo encima de la imagen */
        top: 30%; /* Centra verticalmente */
        left: 50%; /* Centra horizontalmente */
        transform: translate(-50%, -50%); /* Ajusta para el centrado perfecto */
        text-align: center;
        color: white; /* Color del texto */
       /* background: white; /* Fondo semitransparente para destacar el texto */
        padding: 20px;
        border-radius: 10px; /* Bordes redondeados */
        font-family: Arial, sans-serif;
        font-weight: bold;
    }

div#mision-vision{
    position: relative;
    background-image: url("/img/bg-bosque-1.webp");
    z-index: 1;
    background-size: cover;
    background-attachment: fixed;
    color: #F6F6F6;
   }
  
  #mision-vision::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(
      0deg,
      rgba(84, 156, 60, 0.85) 0%,
      rgba(84, 156, 60, 0.85) 100%
    );
    z-index: 2;
  }
#mision-vision> * {
    position: relative;
    z-index: 3;
  }
  button.nav-link.color-blanco {
    padding: 10px 30px;
    background: rgb(51 51 51 / 35%);
}
.icon-valores {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ffd236;
    border-radius: 50%;
    border: 1px solid;
    padding: 15px;
    width: 92px;
    height: 92px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    margin-top: -50px;
    background-color: white;
}