
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReOil PLanet, Aceite usado comvertido en futuro sostenible</title>
    
    <link rel="stylesheet" href="../css/formulario.css">
    <link rel="stylesheet" href="../css/footer.css">
   
</head>
<body>
    <footer>
        <article id="footer">
            <div class="container d-flex gap-3 padding-section">
                <div class="col-md-3">
                    <img src="/img/logo-positivo.webp" alt="">
                </div>

                <div class="col-md-3 d-flex flex-column justify-content-start">
                    <div id="contactos">
                        <h5 class="h5 color-amarillo mb-4">Contáctanos</h5>
                        <div class="d-flex gap-1">
                            <span class="color-amarillo"><i class="fa-solid fa-envelope"></i></span>
                            <p> reoilplanet@gmail.com</p> 
                        </div>
                        <div class="d-flex gap-1">
                            <span class="color-amarillo"><i class="fa-solid fa-location-dot"></i></span>
                            <p>Colombia, Medellín 6043000 ext 2 </p>
                        </div>
                        <div class="d-flex flex-column">
                            <h6 class="h6">Atención Restaurante</h6>
                            <div class="d-flex gap-1">
                                <span class="color-amarillo"><i class="fa-brands fa-whatsapp"></i></span>
                                <p>(+57) 312 687 1058 </p>
                            </div>
                            
                        </div>
                        <div class="d-flex gap-3">
                            <a href="https://facebook.com" target="_blank" aria-label="Facebook" class="social-icon transition-transform">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="https://instagram.com" target="_blank" aria-label="Instagram"  class="social-icon transition-transform">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                        
                      
                    </div>
                    
                </div>

                <div class="col-md-6">
                    <div class="">
                        <h5 class="h5 color-amarillo mb-4">Tu opinión transforma el planeta</h5>
                        <p> Queremos conocer tus hábitos y nivel de conciencia sobre el manejo del aceite de cocina usado. Responde esta breve encuesta y ayúdanos a diseñar un servicio de recolección más eficiente, accesible y ecológico para todos. Tu participación marca la diferencia.</p>
                            <a href="./cuestionario.html" target="_blank" class="btn btn-dark">Realizar Cuestionario</a>
                    </div>
                    </div>
                </div>
            </div>
        
        </article>
        <div id="bottom-bar" class="align-items-center">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="col-md-6">
                    <p class="txt-top-bar">2025 todos los derechos reservados</p>
                </div>

                <div class="col-md-6 d-flex justify-content-end">
                    <ul class="nav">
                        <li class="nav-item"><a href="#" class="nav-link color-blanco"> Política de privacidad</a></li>
                        <li class="nav-item"><a href="#" class="nav-link color-blanco"> Política de recolección</a></li>
                        <li class="nav-item"><a href="#" class="nav-link color-blanco"> Términos y condiciones</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>
</body>