<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReOil PLanet, Aceite usado comvertido en futuro sostenible</title>
    <!--  CSS de Bootstrap -->
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.css">
    <!--  CSS personalizado -->
    
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/index.js"></script>
    

</head>
<body>
    <header>
        <section id="top-bar" class="bg-verde color-blanco">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <p>Transformamos aceite en sostenibilidad</p>
                    </div>
                    <div class="col-md-4">
                        <span>icon</span>
                        <p>info@reoilplanet.com.co</p>                
                    </div>
                </div>
            </div>
        </section>
        <section id="nav-header" class="container">
            <div class="row align-items-center">
                <div id="logo" class="col-md-3">
                    <img src="/img/logo reoilplanet.webp" alt="logo reoil planet">
                </div>
                <div id="nav" class="col-md-8">
                <ul class="nav">
                    <li class="nav-item">
                    <a class="nav-link active" href="#" onclick="window.location.href='./index.html'">Inicio</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" onclick="window.location.href='./Servicios.html'">Servicios</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" onclick="window.location.href='./quienes_somos.html'">¿Quiénes somos?</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" onclick="window.location.href='./impacto_ambiental.html'">Impacto Ambiental</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" onclick="window.location.href='./contactanos.html'">Contáctanos</a>
                    </li>
                    <li class="nav-item">
                    <button class="btn btn-primary" onclick="window.location.href='./recoleccion.html'">Solicitar Recolección</button>
                    </li>
                    <li class="nav-item">
                    <button class="btn btn-primary" onclick="window.location.href='./formulario.html'">Registrate</button>
                    </li>
                </ul>
                </div>
            </div>
        </section>
    </header>