<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReOil PLanet, Aceite usado comvertido en futuro sostenible</title>
    <!--  CSS de Bootstrap -->
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.css">
    <!--  CSS personalizado -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/index.js"></script>
    

</head>
<body>
    <div id="header">
        <script>
            // Cargar el contenido de header.html
            fetch('./header.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('header').innerHTML = data;
                })
                .catch(error => console.error('Error al cargar el header:', error));
        </script>
        </div>
<!--Hero Section-->
    <div id="hero-section" class="container padding-section">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h1 class="h1">Renovamos tu aceite usado para un futuro responsable</h1>
                <p>Brindamos soluciones seguras para la recolección y reciclaje de aceite usado, protegiendo el medio ambiente y aportando valor con nuestro conocimiento y tecnología.</p>
                <div class="flex-row">
                    <button class="btn btn-primary">Solicita recolección</button>
                    <button class="btn btn-secondary">Contáctenos</button>
                </div>
            </div>

            <div class="col-md-4">
                <img src="/img/banner-principal.png" alt="">
            </div>
        </div>
    </div>
    
<!--Quienes somos Section--> 
    <div id="about-section" class="padding-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img src="/img/reoil-img-quienes-somos.webp" alt="">
                </div>
                <div class="col-md-6">
                    <h2 class="h2">¿Qué es ReoilPlanet?</h2>
                    <p>Somos una empresa dedicada a la recolección de aceite usado a nivel nacional desde el año 2017. tenemos el propósito de contribuir al cuidado del planeta y brindar a las empresas soluciones responsables para la disposición final de este residuo, promoviendo prácticas sostenibles y respetuosas con el medio ambiente</p>
                    <button class="btn btn-dark">Contáctenos</button>
                </div>
            </div>
        </div>
    </div>

<!--Proceso Section--> 
    <div id="process-section" class="padding-section">
        <div class="container">
            <div>
                <h2 class="h2 text-center">Recuperación de aceite de cocina desechado</h2>
                <p class="text-center">Transformamos tu aceite usado en una oportunidad para la economía circular. Nos especializamos en la recolección eficiente y responsable de aceite de cocina usado a gran escala, cerrando el ciclo de este recurso mediante procesos sostenibles que benefician al medio ambiente y fomentan la reutilización. <br>

                Ofrecemos soluciones ecológicas para hogares, restaurantes, hoteles e industrias, contribuyendo a un modelo económico consciente.</p>
            </div>

            <div class="row g-5 padding-lateral-section">
                <div class="col-md-4 ">
                    <div class="card-process bg-blanco">
                        <img src="/img/Contenedores.webp" alt="" class="img-process">
                        <h3 class="h3 text-center">Gestión de contenedores</h3>
                        <span class="separador"></span>
                        <p class="text-center">Proveemos contenedores especializados a restaurantes, hoteles, industrias y otros comercios para el almacenamiento seguro del aceite de cocina usado.</p>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="card-process bg-blanco">
                        <img src="/img/transporte.webp" alt="" class="img-process">
                        <h3 class="h3 text-center">Gestión integral de transporte</h3>
                        <span class="separador"></span>
                        <p class="text-center">Proveemos contenedores especializados a restaurantes, hoteles, industrias y otros comercios para el almacenamiento seguro del aceite de cocina usado.</p>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="card-process bg-blanco">
                        <img src="/img/dinero.webp" alt="" class="img-process">
                        <h3 class="h3 text-center">Beneficio financiero</h3>
                        <span class="separador"></span>
                        <p class="text-center">Proveemos contenedores especializados a restaurantes, hoteles, industrias y otros comercios para el almacenamiento seguro del aceite de cocina usado.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main>

    </main>
    
</body>
</html>