<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReOil PLanet, Aceite usado comvertido en futuro sostenible</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/quienes_somos.css">
    <link rel="stylesheet" href="../css/formulario.css">
    
   
</head>
<body>
    <div id="header">
    <script>
        // Cargar el contenido de header.html
        fetch('./header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el header:', error));
    </script>
    </div>

    <main>
        <section id="section1">
            <h1 class="quienes_somos">Quienes somos</h1>
        </section>

        <h1 id="servicios" class="h1">Nuestra Historia</h1>
        <section id="section2">
            
            <article id="art1" class="Nuestra_historia">
                <p>En ReoilPlanet, creemos que cada gota cuenta cuando se trata de cuidar nuestro planeta. 
                    Somos un equipo apasionado y dedicado, trabajando para resolver uno de los problemas más invisibles,
                    pero perjudiciales, de nuestra sociedad: el mal manejo del aceite usado de cocina. Nuestro proyecto nace 
                    con la intención de ofrecer soluciones accesibles y efectivas para reciclar este residuo, transformándolo 
                    en recursos útiles y minimizando su impacto ambiental.
                    Nos esforzamos por construir un futuro más sostenible, donde cada acción individual pueda generar un cambio 
                    positivo global.</p>
            </article>

            <article id="art2" class="imagen">
                    <img src="/img/nuestra-historia.jpg" alt="">   
                </article>
                   
        </section>
       

    </main>

    
    
</body>
</html>