<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReOil PLanet, Aceite usado comvertido en futuro sostenible</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/quienes_somos.css">
    <link rel="stylesheet" href="../css/formulario.css">
    <link rel="stylesheet" href="../css/footer.css">
    
   
</head>
<body>
    <div id="header">
    <script>
        // Cargar el contenido de header.html
        fetch('./header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el header:', error));
    </script>
    </div>

    <main>

<!-- Hero section  -->
        <div id="hero-section" class="container padding-section">
            <div class="d-flex row align-items-center">
                <div class="col-md-7">
                    <h1 class="h1  color-verde">Quienes somos</h1>
                    <h2 class="h5"> Nuestra historia</h2>
                    <div id="arti1" class="">
                        <p class=""> En ReoilPlanet, creemos que cada gota cuenta cuando se trata de cuidar nuestro planeta. Somos un equipo apasionado y dedicado, trabajando para resolver uno de los problemas más invisibles, pero perjudiciales, de nuestra sociedad: el mal manejo del aceite usado de cocina. Nuestro proyecto nace con la intención de ofrecer soluciones accesibles y efectivas para reciclar este residuo, transformándolo en recursos útiles y minimizando su impacto ambiental. Nos esforzamos por construir un futuro más sostenible, donde cada acción individual pueda generar un cambio positivo global.
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="/img/acerca de nosotros.webp" alt=""> 
                </div>
            </div>
        </div>

<!-- Misión y vision -->
        <div id="mision-vision" class="overlay-verde">
                <div class="container padding-section">
                    <ul class="nav nav-tabs d-flex  justify-content-center" role="tablist">
                        <li class="nav-item">
                          <button class="nav-link active color-blanco" data-bs-toggle="tab" data-bs-target="#mision" type="button" role="tab">Misión</button>
                        </li>
                        <li class="nav-item">
                          <button class="nav-link color-blanco" data-bs-toggle="tab" data-bs-target="#vision" type="button" role="tab">Visión</button>
                        </li>
                    </ul>
                      
                      <div class="tab-content mt-3">
                        <div class="tab-pane fade show active" id="mision" role="tabpanel">
                            <p class="text-center">Nuestra misión es <b>liderar el cambio hacia un manejo más consciente y sostenible del aceite usado de cocina.</b>
                                A través de la educación, la colaboración con comunidades y empresas, y el desarrollo de procesos de reciclaje avanzados, 
                                buscamos minimizar el impacto ambiental de este residuo. Queremos ser el motor que impulse a las personas a adoptar hábitos más 
                                sostenibles, proporcionando soluciones que no solo sean responsables, sino también fáciles de implementar.
        
                                En ReoilPlanet, creemos firmemente que el cambio comienza con la acción, y cada gota reciclada es un paso hacia un mundo más verde.</p>
                        </div>
                        <div class="tab-pane fade" id="vision" role="tabpanel">
                            <p class="text-center">En ReoilPlanet, imaginamos un mundo donde el reciclaje de aceite sea una práctica común en cada hogar, restaurante y comunidad. 
                                <b>Nuestro objetivo es crear un sistema eficiente y accesible que permita reutilizar este recurso de manera innovadora, convirtiéndolo 
                                en combustibles alternativos, bioproductos y materiales útiles.</b>
                                Queremos liderar un movimiento global en el que los residuos no sean vistos como un problema, sino como una oportunidad para construir 
                                una economía circular sostenible. Nuestra visión es ser un pilar fundamental en la transición hacia un modelo de consumo responsable, 
                                donde el bienestar del planeta esté en el centro de cada decisión.
                                </p>
                        </div>
                      </div>
                    
                    <div id="hasta-la-fecha" class="col-md-12 mt-5">
                        <h3 class="text-center color-amarillo text-shadow">Hasta este momento, los integrantes de <strong>ReoilPlanet </strong>  hemos hecho posible la protección de más de
                        5 mil millones de litros de agua.</h3>
                    </div>
                </div>       
        </div>

<!-- Nuestros valores -->
    <div id="valores">
        <div class="container padding-section">
            <div class="">
                <h3 class="text-center h2 color-verde mb-5">Nuestros valores</h3>
            </div>
            <section class="d-flex col gap-3">
                <article id="art5" class="col-md-3 card-process bg-blanco box-shadow">
                    <i class="fas fa-leaf icon-valores"></i>

                    <h4 class="h4 color-verde mb-3">Sostenibilidad</h4>
                    <p>Nos guía la responsabilidad de cuidar el medio ambiente y preservar los recursos para las generaciones futuras. Cada una de 
                        nuestras acciones está diseñada con este propósito en mente.</p>
                </article>
    
                <article id="art6" class="col-md-3 card-process bg-blanco box-shadow">
                    <i class="fas fa-lightbulb icon-valores"></i>

                    <h4 class="h4 color-verde mb-3">Innovación</h4>
                    <p> Creemos que las soluciones tradicionales no son suficientes para los desafíos actuales. Por ello, siempre estamos buscando
                        nuevas formas de hacer que el reciclaje del aceite sea más eficiente y accesible.</p>
                </article>
                
                <article id="art7" class="col-md-3 card-process bg-blanco box-shadow">
                    <i class="fas fa-hand-holding-heart icon-valores"></i>

                    <h4 class="h4 color-verde mb-3">Compromiso social</h4>
                    <p> Nos mueve el deseo de generar un impacto positivo no solo en el medio ambiente, sino también en las comunidades con 
                        las que trabajamos. Valoramos las alianzas y el trabajo conjunto para construir un futuro más sostenible.</p>
                </article>
    
                <article id="art8" class="col-md-3 card-process bg-blanco box-shadow">
                    <i class="fas fa-scale-balanced icon-valores"></i>

                    <h4 class="h4 color-verde mb-3"> Transparencia y ética</h4>
                    <p> Operamos con total honestidad, asegurando que cada paso de nuestro proceso sea claro y respalde nuestro compromiso 
                        con el medio ambiente y la sociedad.</p>
                </article>
    
            </section>
    
            
        </div>
        
    </div>
       

    </main> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
</body>

<div id="footer">
    <script>
        // Cargar el contenido de header.html
        fetch('./footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el footer:', error));
    </script>
    </div>
</html>